@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nonactive{
  display: none !important;
}



.playground-page{
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.control-panel{
    width: 60%;
    padding: 0 10px;
    border-right: 3px solid transparent;
    border-image: linear-gradient(to top, transparent, white, transparent) 100%;
    border-image-slice: 1;
}

.control-panel h1{
    text-align: left;
    font-weight: bold;
    font-size: 40px;
}

.new-hll {
    display: flex;
    flex-direction: row; /* Cambia la dirección a columna en pantallas pequeñas */
    align-items: center;
    justify-content: left;
}

.new-hll select{
    font-family: 'Poppins', sans-serif;
    width: 30%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    margin-left: 40px;
    background-color: #041f12;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-weight: bold;
    color: white;
}
  
  .create-controls {
    display: flex;
    flex-direction: row; /* Cambia la dirección a columna en pantallas pequeñas */
    align-items: center; /* Alinea los elementos al centro en pantallas pequeñas */
    justify-content: left;
  }

.create-controls button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    background-color: #003021;
    color: white;
    width: 25%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #00ffaa;
    font-size: 16px;
    transition: 0.5s;
}

.create-controls button:hover{
    background-color: #00b679;
    color: #003021;
}

.graphic-panel{
    width: 40%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create{
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-content h1{
    
    text-align: left;
    font-weight: bold;
}

.create-content h2{
    justify-content: left;
    text-align: left;
}

.insert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info{
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset{
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comparative{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comparative h1{
  text-align: center;
}

.count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count h1{
  text-align: center;
}

.count-hll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count-hll h1{
  text-align: center;
}

.graph-1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

@media screen and (max-width: 768px){
    .playground-page{
        flex-direction: column;
    }
    .control-panel{
        width: 100%;
    }

    .new-hll{
        flex-direction: column; 
    }
    .new-hll select{
        margin-left: 0;
    }
    .create-controls{
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .create-controls button{
        max-width: 40%;
    }

    .graphic-panel{
        width: 100%;
    }
    .control-panel{
        border-bottom: 3px solid transparent;
        border-image: linear-gradient(to right, transparent, white, transparent) 100%;
        border-image-slice: 1;
    }
}